@font-face {
  font-family: "Calibre";
  src: local("Calibre Regular"), local("Calibre-Regular"),
    url("Calibre-Regular.woff2") format("woff2"),
    url("Calibre-Regular.woff") format("woff"),
    url("Calibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Calibre", sans-serif;
}

a {
  text-decoration: none;
  position: relative;
  color: black;
}

.container {
  max-width: 1500px;
  margin: 100px auto;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  margin: 40px 0;
}

a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #fd2155;
  opacity: 0.5;
}

a:hover::after {
  top: 10%;
}

.content {
  margin: 50px 0;
  max-width: 650px;
}

.content p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
  font-family: "Calibre";
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
    max-width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .content {
    max-width: 100%;
  }

  .content p {
    font-size: 1.3rem;
  }
}
